@inherits Soenneker.Quark.Components.Element

<div @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
    public override string? Name { get; set; } = "Row";

    protected override Dictionary<string, object> BuildAttributes()
    {
        base.BuildAttributes();
        
        AppendToClassAttr(Attributes, "row");

        return Attributes;
    }
}
